body {
    background-image: url("https://media.tenor.com/7ohnAYKVVLoAAAAd/dans-%C5%9Falvar.gif");
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    animation-name: arkadisko;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
@keyframes disko {
  0% { color: #fc0303 }
  17% { color: #45f52a }
  34% { color: #2a7bf5 }
  51% { color: #2af5e4 }
  68% { color: #c92af5 }
  85% { color: #f5dd2a }
  100% { color: #66655d }
}
@keyframes arkadisko {
  0% { background-color: #fc0303 }
  17% { background-color: #45f52a }
  34% { background-color: #2a7bf5 }
  51% { background-color: #2af5e4 }
  68% { background-color: #c92af5 }
  85% { background-color: #f5dd2a }
  100% { background-color: #66655d }
}
 
.isiklimisikli {
  font-size: 64px;
  font-family: 'Silkscreen', cursive;
  position: absolute;
  -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, glow 1s ease-in-out infinite alternate, disko 3s linear infinite alternate;
  -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, glow 1s ease-in-out infinite alternate, disko 3s linear infinite alternate;
  -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, glow 1s ease-in-out infinite alternate, disko 3s linear infinite alternate;
  animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, glow 1s ease-in-out infinite alternate, disko 3s linear infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@-webkit-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 480px; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 280px; }
}
